# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.semana-2-exemplo-autenticacao.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vitor Lima\Projetos\DevInHouse\Semana 2\semana-2-exemplo-autenticacao\.idea\.idea.semana-2-exemplo-autenticacao.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
